@model List<CatDatingSite.Models.CatProfile>

@{
    ViewBag.Title = "Home Page";
}

@Html.ActionLink("pievienot jaunu kaķi", "AddCat", "Cats")


    @foreach (var cat in Model)
    {
        @Html.ActionLink("rediģēt kaķi", "EditCat", "Cats", new { editableCatId = cat.CatID }, null)
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Nodzēst kaķi", "DeleteCat", "Cats", new { deletableCatId = cat.CatID }, null)
                <h2>Cat name: @cat.CatName</h2>
                <p>Cat age: @cat.CatAge</p>
                <img src="@cat.CatImage" />
                <p>@cat.CatDescription</p>
               
               
            </div>
        </div>
    }




       